In [4]:
from matplotlib import dates
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf

raw = yf.download('SPY AAPL', start = '2010-01-01', end = '2019-12-31')
raw

def fix_cols(df):
    columns = df.columns
    outer = [col[0] for col in columns]
    df.columns = outer
    return df

(raw
 .iloc[:, ::2]
 .pipe(fix_cols)
)

import yfinance as yf

def tweak_data():
    raw = yf.download('SPY AAPL', start = '2010-01-01', end = '2019-12-31')
    
    return(raw
     .iloc[:, :-2:2]
     .pipe(fix_cols)
          )
tweak_data()

[*********************100%***********************]  2 of 2 completed
[*********************100%***********************]  2 of 2 completed

            Adj Close      Close       High        Low       Open
Date
2010-01-04   6.505280   7.643214   7.660714   7.585000   7.622500
2010-01-05   6.516527   7.656429   7.699643   7.616071   7.664286
2010-01-06   6.412874   7.534643   7.686786   7.526786   7.656429
2010-01-07   6.401017   7.520714   7.571429   7.466071   7.562500
2010-01-08   6.443573   7.570714   7.571429   7.466429   7.510714
...               ...        ...        ...        ...        ...
2019-12-23  69.451073  71.000000  71.062500  70.092499  70.132500
2019-12-24  69.517097  71.067497  71.222504  70.730003  71.172501
2019-12-26  70.896324  72.477501  72.495003  71.175003  71.205002
2019-12-27  70.869415  72.449997  73.492500  72.029999  72.779999
2019-12-30  71.290039  72.879997  73.172501  71.305000  72.364998

[2515 rows x 5 columns]

# Calculations
## Goals
## -Explore Pandas methods like .pct_change
## -Plotting with Pandas
## -Refactoring to functions

## Returns:

In [5]:
# Making an aapl variable so we dont have to keep retyping

aapl = (raw
        .iloc[:,::2]
        .pipe(fix_cols))
aapl

            Adj Close      Close       High        Low       Open     Volume
Date
2010-01-04   6.505280   7.643214   7.660714   7.585000   7.622500  493729600
2010-01-05   6.516527   7.656429   7.699643   7.616071   7.664286  601904800
2010-01-06   6.412873   7.534643   7.686786   7.526786   7.656429  552160000
2010-01-07   6.401017   7.520714   7.571429   7.466071   7.562500  477131200
2010-01-08   6.443574   7.570714   7.571429   7.466429   7.510714  447610800
...               ...        ...        ...        ...        ...        ...
2019-12-23  69.451065  71.000000  71.062500  70.092499  70.132500   98572000
2019-12-24  69.517082  71.067497  71.222504  70.730003  71.172501   48478800
2019-12-26  70.896339  72.477501  72.495003  71.175003  71.205002   93121200
2019-12-27  70.869438  72.449997  73.492500  72.029999  72.779999  146266000
2019-12-30  71.290047  72.879997  73.172501  71.305000  72.364998  144114400

[2515 rows x 6 columns]

In [7]:
# returns
# each days price divided by the previous days price

aapl.pct_change()

            Adj Close     Close      High       Low      Open    Volume
Date
2010-01-04        NaN       NaN       NaN       NaN       NaN       NaN
2010-01-05   0.001729  0.001729  0.005082  0.004096  0.005482  0.219098
2010-01-06  -0.015906 -0.015906 -0.001670 -0.011723 -0.001025 -0.082646
2010-01-07  -0.001849 -0.001849 -0.015007 -0.008066 -0.012268 -0.135882
2010-01-08   0.006649  0.006648  0.000000  0.000048 -0.006848 -0.061871
...               ...       ...       ...       ...       ...       ...
2019-12-23   0.016318  0.016318  0.005661  0.006498 -0.006023 -0.642827
2019-12-24   0.000951  0.000951  0.002252  0.009095  0.014829 -0.508189
2019-12-26   0.019841  0.019840  0.017867  0.006292  0.000457  0.920864
2019-12-27  -0.000379 -0.000379  0.013760  0.012013  0.022119  0.570706
2019-12-30   0.005935  0.005935 -0.004354 -0.010065 -0.005702 -0.014710

[2515 rows x 6 columns]

In [11]:
# to get documentation here: 
aapl.pct_change?

Signature:
aapl.pct_change(
    periods=1,
    fill_method='pad',
    limit=None,
    freq=None,
    **kwargs,
) -> 'NDFrameT'
Docstring:
Percentage change between the current and a prior element.

Computes the percentage change from the immediately previous row by
default. This is useful in comparing the percentage of change in a time
series of elements.

Parameters
----------
periods : int, default 1
    Periods to shift for forming percent change.
fill_method : str, default 'pad'
    How to handle NAs before computing percent changes.
limit : int, default None
    The number of consecutive NAs to fill before stopping.
freq : DateOffset, timedelta, or str, optional
    Increment to use from time series API (e.g. 'M' or BDay()).
**kwargs
    Additional keyword arguments are passed into
    `DataFrame.shift` or `Series.shift`.

Returns
-------
chg : Series or DataFrame
    The same type as the calling object.

See Also
--------
Series.diff : Compute the difference of two elements in a Series.
DataFrame.diff : Compute the difference of two elements in a DataFrame.
Series.shift : Shift the index by some number of periods.
DataFrame.shift : Shift the index by some number of periods.

Examples
--------
**Series**

>>> s = pd.Series([90, 91, 85])
>>> s
0    90
1    91
2    85
dtype: int64

>>> s.pct_change()
0         NaN
1    0.011111
2   -0.065934
dtype: float64

>>> s.pct_change(periods=2)
0         NaN
1         NaN
2   -0.055556
dtype: float64

See the percentage change in a Series where filling NAs with last
valid observation forward to next valid.

>>> s = pd.Series([90, 91, None, 85])
>>> s
0    90.0
1    91.0
2     NaN
3    85.0
dtype: float64

>>> s.pct_change(fill_method='ffill')
0         NaN
1    0.011111
2    0.000000
3   -0.065934
dtype: float64

**DataFrame**

Percentage change in French franc, Deutsche Mark, and Italian lira from
1980-01-01 to 1980-03-01.

>>> df = pd.DataFrame({
...     'FR': [4.0405, 4.0963, 4.3149],
...     'GR': [1.7246, 1.7482, 1.8519],
...     'IT': [804.74, 810.01, 860.13]},
...     index=['1980-01-01', '1980-02-01', '1980-03-01'])
>>> df
                FR      GR      IT
1980-01-01  4.0405  1.7246  804.74
1980-02-01  4.0963  1.7482  810.01
1980-03-01  4.3149  1.8519  860.13

>>> df.pct_change()
                  FR        GR        IT
1980-01-01       NaN       NaN       NaN
1980-02-01  0.013810  0.013684  0.006549
1980-03-01  0.053365  0.059318  0.061876

Percentage of change in GOOG and APPL stock volume. Shows computing
the percentage change between columns.

>>> df = pd.DataFrame({
...     '2016': [1769950, 30586265],
...     '2015': [1500923, 40912316],
...     '2014': [1371819, 41403351]},
...     index=['GOOG', 'APPL'])
>>> df
          2016      2015      2014
GOOG   1769950   1500923   1371819
APPL  30586265  40912316  41403351

>>> df.pct_change(axis='columns', periods=-1)
          2016      2015  2014
GOOG  0.179241  0.094112   NaN
APPL -0.252395 -0.011860   NaN
File:      c:\users\michael\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method